//
// Written by Synplify Pro 
// Product Version "Q-2020.03M-SP1"
// Program "Synplify Pro", Mapper "map202003act, Build 160R"
// Tue Nov 28 19:30:24 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\generic\smartfusion2.v "
// file 1 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\hypermods.v "
// file 2 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\x:\graduate\ecen5863\programmablelogic\homework5\hw5_1b\hw5_1b\hdl\cdc3ff.v "
// file 6 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\nlconst.dat "
// file 7 "\x:\graduate\ecen5863\programmablelogic\homework5\hw5_1b\hw5_1b\designer\cdc3ff\synthesis.fdc "
// file 8 "\x:/graduate/ecen5863/programmablelogic/homework5/hw5_1b/hw5_1b/designer/cdc3ff/synthesis.fdc "

`timescale 100 ps/100 ps
module CDC3FF (
  Aclk,
  Bclk,
  reset,
  Dout
)
;
input Aclk ;
input Bclk ;
input reset ;
output Dout ;
wire Aclk ;
wire Bclk ;
wire reset ;
wire Dout ;
wire data_Z ;
wire VCC ;
wire GND ;
wire FF1_d_Z ;
wire FF2_d_Z ;
wire Aclk_c ;
wire Bclk_c ;
wire reset_c ;
wire Dout_c ;
wire data_i ;
wire reset_c_i ;
wire Bclk_ibuf_Z ;
  CLKINT Bclk_ibuf_RNI1GRC (
	.Y(Bclk_c),
	.A(Bclk_ibuf_Z)
);
  CFG1 data_RNO (
	.A(data_Z),
	.Y(data_i)
);
defparam data_RNO.INIT=2'h1;
  CFG1 reset_ibuf_RNI8255 (
	.A(reset_c),
	.Y(reset_c_i)
);
defparam reset_ibuf_RNI8255.INIT=2'h1;
// @5:31
  SLE data (
	.Q(data_Z),
	.ADn(VCC),
	.ALn(reset_c_i),
	.CLK(Aclk_c),
	.D(data_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:52
  SLE FF1_d (
	.Q(FF1_d_Z),
	.ADn(VCC),
	.ALn(reset_c_i),
	.CLK(Bclk_c),
	.D(data_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:52
  SLE FF2_d (
	.Q(FF2_d_Z),
	.ADn(VCC),
	.ALn(reset_c_i),
	.CLK(Bclk_c),
	.D(FF1_d_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:52
  SLE Dout_Z (
	.Q(Dout_c),
	.ADn(VCC),
	.ALn(reset_c_i),
	.CLK(Bclk_c),
	.D(FF2_d_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:22
  INBUF Aclk_ibuf (
	.Y(Aclk_c),
	.PAD(Aclk)
);
// @5:23
  INBUF Bclk_ibuf (
	.Y(Bclk_ibuf_Z),
	.PAD(Bclk)
);
// @5:24
  INBUF reset_ibuf (
	.Y(reset_c),
	.PAD(reset)
);
// @5:25
  OUTBUF Dout_obuf (
	.PAD(Dout),
	.D(Dout_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CDC3FF */

