//
// Written by Synplify Pro 
// Product Version "Q-2020.03M-SP1"
// Program "Synplify Pro", Mapper "map202003act, Build 160R"
// Sat Nov 18 16:24:15 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\generic\smartfusion2.v "
// file 1 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\hypermods.v "
// file 2 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\x:\graduate\ecen5863\programmablelogic\homework4\question2\c\hw4_q2c\hdl\hw4_q2c.v "
// file 6 "\d:\microsemi\libero_soc_v12.6\synplifypro\lib\nlconst.dat "
// file 7 "\x:\graduate\ecen5863\programmablelogic\homework4\question2\c\hw4_q2c\designer\hw4_q2c\synthesis.fdc "

`timescale 100 ps/100 ps
module HW4_Q2C (
  clk,
  rst_n,
  q,
  rollover,
  sC
)
;

/*  Synopsys
.origName=HW4_Q2C
.langParams="n k"
n=16
k=65536
 */
input clk ;
input rst_n ;
output [15:0] q ;
output rollover ;
output [3:0] sC ;
wire clk ;
wire rst_n ;
wire rollover ;
wire [1:0] inverterString;
wire [15:0] q_c;
wire [10:0] Q_s;
wire [10:1] Q_cry_Z;
wire [11:11] Q_s_Z;
wire [1:1] Q_skewed_ldmx_Z;
wire [10:1] Q_cry_Y;
wire [11:11] Q_s_FCO;
wire [11:11] Q_s_Y;
wire GND ;
wire VCC ;
wire Q_skewed7_Z ;
wire Q_skewed27 ;
wire Q_skewed37 ;
wire rst_n_c ;
wire Q_skewed7_8_Z ;
wire Q_skewed7_9_4_Z ;
wire Q_skewed7_9_5_Z ;
wire m14_e_2 ;
wire m14_e_3 ;
wire m8_e_0 ;
wire m8_e_5 ;
wire m8_e_6 ;
wire g0_6 ;
wire g0_7 ;
wire g0_8 ;
wire g0_9 ;
wire Q_s_5_FCO ;
wire Q_s_5_S ;
wire Q_s_5_Y ;
wire clk_ibuf_Z ;
wire rst_n_ibuf_Z ;
  CLKINT rst_n_ibuf_RNIBNDC (
	.Y(rst_n_c),
	.A(rst_n_ibuf_Z)
);
  CLKINT clk_ibuf_RNIVTI2 (
	.Y(inverterString[0]),
	.A(clk_ibuf_Z)
);
  CFG1 \Q_RNO[0]  (
	.A(q_c[0]),
	.Y(Q_s[0])
);
defparam \Q_RNO[0] .INIT=2'h1;
  CFG1 clk_ibuf_RNIVTI2_0 (
	.A(inverterString[0]),
	.Y(inverterString[1])
);
defparam clk_ibuf_RNIVTI2_0.INIT=2'h1;
// @5:82
  SLE \Q_skewed[3]  (
	.Q(q_c[15]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[1]),
	.D(VCC),
	.EN(Q_skewed37),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:74
  SLE \Q_skewed[2]  (
	.Q(q_c[14]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[1]),
	.D(VCC),
	.EN(Q_skewed27),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:66
  SLE \Q_skewed[1]  (
	.Q(q_c[13]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[1]),
	.D(Q_skewed_ldmx_Z[1]),
	.EN(q_c[12]),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:59
  SLE \Q_skewed[0]  (
	.Q(q_c[12]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[1]),
	.D(VCC),
	.EN(Q_skewed7_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[0]  (
	.Q(q_c[0]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[1]  (
	.Q(q_c[1]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[2]  (
	.Q(q_c[2]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[3]  (
	.Q(q_c[3]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[4]  (
	.Q(q_c[4]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[5]  (
	.Q(q_c[5]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[6]  (
	.Q(q_c[6]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[7]  (
	.Q(q_c[7]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[8]  (
	.Q(q_c[8]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[9]  (
	.Q(q_c[9]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[10]  (
	.Q(q_c[10]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:40
  SLE \Q[11]  (
	.Q(q_c[11]),
	.ADn(VCC),
	.ALn(rst_n_c),
	.CLK(inverterString[0]),
	.D(Q_s_Z[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:18
  INBUF clk_ibuf (
	.Y(clk_ibuf_Z),
	.PAD(clk)
);
// @5:19
  INBUF rst_n_ibuf (
	.Y(rst_n_ibuf_Z),
	.PAD(rst_n)
);
// @5:20
  OUTBUF \q_obuf[0]  (
	.PAD(q[0]),
	.D(q_c[0])
);
// @5:20
  OUTBUF \q_obuf[1]  (
	.PAD(q[1]),
	.D(q_c[1])
);
// @5:20
  OUTBUF \q_obuf[2]  (
	.PAD(q[2]),
	.D(q_c[2])
);
// @5:20
  OUTBUF \q_obuf[3]  (
	.PAD(q[3]),
	.D(q_c[3])
);
// @5:20
  OUTBUF \q_obuf[4]  (
	.PAD(q[4]),
	.D(q_c[4])
);
// @5:20
  OUTBUF \q_obuf[5]  (
	.PAD(q[5]),
	.D(q_c[5])
);
// @5:20
  OUTBUF \q_obuf[6]  (
	.PAD(q[6]),
	.D(q_c[6])
);
// @5:20
  OUTBUF \q_obuf[7]  (
	.PAD(q[7]),
	.D(q_c[7])
);
// @5:20
  OUTBUF \q_obuf[8]  (
	.PAD(q[8]),
	.D(q_c[8])
);
// @5:20
  OUTBUF \q_obuf[9]  (
	.PAD(q[9]),
	.D(q_c[9])
);
// @5:20
  OUTBUF \q_obuf[10]  (
	.PAD(q[10]),
	.D(q_c[10])
);
// @5:20
  OUTBUF \q_obuf[11]  (
	.PAD(q[11]),
	.D(q_c[11])
);
// @5:20
  OUTBUF \q_obuf[12]  (
	.PAD(q[12]),
	.D(q_c[12])
);
// @5:20
  OUTBUF \q_obuf[13]  (
	.PAD(q[13]),
	.D(q_c[13])
);
// @5:20
  OUTBUF \q_obuf[14]  (
	.PAD(q[14]),
	.D(q_c[14])
);
// @5:20
  OUTBUF \q_obuf[15]  (
	.PAD(q[15]),
	.D(q_c[15])
);
// @5:21
  OUTBUF rollover_obuf (
	.PAD(rollover),
	.D(GND)
);
// @5:22
  OUTBUF \sC_obuf[0]  (
	.PAD(sC[0]),
	.D(inverterString[1])
);
// @5:22
  OUTBUF \sC_obuf[1]  (
	.PAD(sC[1]),
	.D(inverterString[1])
);
// @5:22
  OUTBUF \sC_obuf[2]  (
	.PAD(sC[2]),
	.D(inverterString[1])
);
// @5:22
  OUTBUF \sC_obuf[3]  (
	.PAD(sC[3]),
	.D(inverterString[1])
);
// @5:40
  ARI1 Q_s_5 (
	.FCO(Q_s_5_FCO),
	.S(Q_s_5_S),
	.Y(Q_s_5_Y),
	.B(q_c[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam Q_s_5.INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[1]  (
	.FCO(Q_cry_Z[1]),
	.S(Q_s[1]),
	.Y(Q_cry_Y[1]),
	.B(q_c[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_s_5_FCO)
);
defparam \Q_cry[1] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[2]  (
	.FCO(Q_cry_Z[2]),
	.S(Q_s[2]),
	.Y(Q_cry_Y[2]),
	.B(q_c[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[1])
);
defparam \Q_cry[2] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[3]  (
	.FCO(Q_cry_Z[3]),
	.S(Q_s[3]),
	.Y(Q_cry_Y[3]),
	.B(q_c[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[2])
);
defparam \Q_cry[3] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[4]  (
	.FCO(Q_cry_Z[4]),
	.S(Q_s[4]),
	.Y(Q_cry_Y[4]),
	.B(q_c[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[3])
);
defparam \Q_cry[4] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[5]  (
	.FCO(Q_cry_Z[5]),
	.S(Q_s[5]),
	.Y(Q_cry_Y[5]),
	.B(q_c[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[4])
);
defparam \Q_cry[5] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[6]  (
	.FCO(Q_cry_Z[6]),
	.S(Q_s[6]),
	.Y(Q_cry_Y[6]),
	.B(q_c[6]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[5])
);
defparam \Q_cry[6] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[7]  (
	.FCO(Q_cry_Z[7]),
	.S(Q_s[7]),
	.Y(Q_cry_Y[7]),
	.B(q_c[7]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[6])
);
defparam \Q_cry[7] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[8]  (
	.FCO(Q_cry_Z[8]),
	.S(Q_s[8]),
	.Y(Q_cry_Y[8]),
	.B(q_c[8]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[7])
);
defparam \Q_cry[8] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[9]  (
	.FCO(Q_cry_Z[9]),
	.S(Q_s[9]),
	.Y(Q_cry_Y[9]),
	.B(q_c[9]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[8])
);
defparam \Q_cry[9] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_s[11]  (
	.FCO(Q_s_FCO[11]),
	.S(Q_s_Z[11]),
	.Y(Q_s_Y[11]),
	.B(q_c[11]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[10])
);
defparam \Q_s[11] .INIT=20'h4AA00;
// @5:40
  ARI1 \Q_cry[10]  (
	.FCO(Q_cry_Z[10]),
	.S(Q_s[10]),
	.Y(Q_cry_Y[10]),
	.B(q_c[10]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(Q_cry_Z[9])
);
defparam \Q_cry[10] .INIT=20'h4AA00;
  CFG2 \Q_skewed_RNO_2[2]  (
	.A(q_c[8]),
	.B(q_c[9]),
	.Y(g0_6)
);
defparam \Q_skewed_RNO_2[2] .INIT=4'h8;
  CFG4 \Q_skewed_RNO_3[2]  (
	.A(q_c[11]),
	.B(q_c[10]),
	.C(q_c[3]),
	.D(q_c[1]),
	.Y(g0_9)
);
defparam \Q_skewed_RNO_3[2] .INIT=16'h8000;
  CFG4 \Q_skewed_RNO_0[2]  (
	.A(q_c[7]),
	.B(q_c[5]),
	.C(q_c[4]),
	.D(q_c[2]),
	.Y(g0_8)
);
defparam \Q_skewed_RNO_0[2] .INIT=16'h8000;
  CFG4 \Q_skewed_RNO_1[2]  (
	.A(q_c[13]),
	.B(q_c[12]),
	.C(q_c[6]),
	.D(q_c[0]),
	.Y(g0_7)
);
defparam \Q_skewed_RNO_1[2] .INIT=16'h8000;
// @5:77
  CFG4 \Q_skewed_RNO[2]  (
	.A(g0_8),
	.B(g0_7),
	.C(g0_6),
	.D(g0_9),
	.Y(Q_skewed27)
);
defparam \Q_skewed_RNO[2] .INIT=16'h8000;
  CFG2 \Q_skewed_RNO_4[3]  (
	.A(q_c[13]),
	.B(q_c[14]),
	.Y(m8_e_0)
);
defparam \Q_skewed_RNO_4[3] .INIT=4'h8;
  CFG2 \Q_skewed_RNO_0[3]  (
	.A(q_c[4]),
	.B(q_c[5]),
	.Y(m14_e_2)
);
defparam \Q_skewed_RNO_0[3] .INIT=4'h8;
  CFG4 \Q_skewed_RNO_3[3]  (
	.A(q_c[11]),
	.B(q_c[10]),
	.C(q_c[2]),
	.D(q_c[1]),
	.Y(m8_e_6)
);
defparam \Q_skewed_RNO_3[3] .INIT=16'h8000;
  CFG4 \Q_skewed_RNO_2[3]  (
	.A(q_c[9]),
	.B(q_c[8]),
	.C(q_c[7]),
	.D(q_c[6]),
	.Y(m14_e_3)
);
defparam \Q_skewed_RNO_2[3] .INIT=16'h8000;
  CFG4 \Q_skewed_RNO_1[3]  (
	.A(q_c[3]),
	.B(q_c[0]),
	.C(q_c[12]),
	.D(m8_e_0),
	.Y(m8_e_5)
);
defparam \Q_skewed_RNO_1[3] .INIT=16'h8000;
  CFG4 \Q_skewed_RNO[3]  (
	.A(m14_e_2),
	.B(m8_e_5),
	.C(m14_e_3),
	.D(m8_e_6),
	.Y(Q_skewed37)
);
defparam \Q_skewed_RNO[3] .INIT=16'h8000;
// @5:62
  CFG4 Q_skewed7_9_5 (
	.A(q_c[11]),
	.B(q_c[10]),
	.C(q_c[9]),
	.D(q_c[8]),
	.Y(Q_skewed7_9_5_Z)
);
defparam Q_skewed7_9_5.INIT=16'h8000;
// @5:62
  CFG4 Q_skewed7_9_4 (
	.A(q_c[3]),
	.B(q_c[2]),
	.C(q_c[1]),
	.D(q_c[0]),
	.Y(Q_skewed7_9_4_Z)
);
defparam Q_skewed7_9_4.INIT=16'h8000;
// @5:62
  CFG4 Q_skewed7_8 (
	.A(q_c[7]),
	.B(q_c[6]),
	.C(q_c[5]),
	.D(q_c[4]),
	.Y(Q_skewed7_8_Z)
);
defparam Q_skewed7_8.INIT=16'h8000;
// @5:62
  CFG3 Q_skewed7 (
	.A(Q_skewed7_9_5_Z),
	.B(Q_skewed7_9_4_Z),
	.C(Q_skewed7_8_Z),
	.Y(Q_skewed7_Z)
);
defparam Q_skewed7.INIT=8'h80;
// @5:66
  CFG4 \Q_skewed_ldmx[1]  (
	.A(q_c[13]),
	.B(Q_skewed7_9_5_Z),
	.C(Q_skewed7_9_4_Z),
	.D(Q_skewed7_8_Z),
	.Y(Q_skewed_ldmx_Z[1])
);
defparam \Q_skewed_ldmx[1] .INIT=16'hEAAA;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* HW4_Q2C */

